@charset "UTF8";

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {margin: 0; padding: 0;}
a {text-decoration: none; color: #333;}
li {list-style: none;}
body { font-family: 'yg-jalnan'}


/* layout */
header {width: 100%; min-width: 1200px; height: 150px; background: rgba(83,34,32,0.8); 
    position: absolute; left: 0; top: 0; z-index: 7; }

.visual {width: 100%; height: 100vh; min-width: 1200px;
    background: url(../images/main1.jpg); background-size: cover;}


.section1 {width: 100%; height: auto; background: #5f2926; min-width: 1200px; position: relative;}
.section1 .sec1 {width: 100%; height: 354px; background: #361715; min-width: 1200px}
.section2 {width: 100%; min-width: 1200px}
.section3 {width: 100%; background: #5f2926; min-width: 1200px}

footer {width: 100%; height: 281px; background: #e4e4e5; min-width: 1200px}

.centerbox {width: 1200px; margin: 0 auto; min-width: 1200px}


/* header */
header h1 {width: 150px; height: 90px; margin: 5px auto 0 auto; }
header h1 img {width: 100%;}
header nav {width: 100%; height: 51px;  }
header nav ul {text-align: center; font-size: 0;}
header nav > ul > li {display: inline-block; height: 51px; line-height: 51px; font-size: 20px;
    position: relative; font-family: 'yg-jalnan';}
header nav > ul > li > a {color: #ffffff; padding: 0 70px; display: block; }
header nav > ul > li > a:hover {color: #b33838;}
header nav:hover ul li .lnb {padding: 25px 0; height: 255px;}


header nav ul li .lnb {position: absolute; width: 100%; padding: 0px 0; z-index: 4; 
    height: 0px; overflow: hidden; transition: 0.3s;}

header nav ul li .lnb li {font-size: 17px; font-family: 'GmarketSansMedium';  font-weight: 300; }
header nav ul li .lnb li a {color: #fff; display: block; }
header nav ul li .lnb li a:hover {background: #fff; color: #000; border-radius: 5px;}


header nav .lng_bg {position: absolute; width: 100%; height: 0px; background: rgba(54,23,21,0.5);
     left: 0;top: 150px; transition: 0.3s; z-index: 3;}

header nav:hover .lng_bg {height: 280px; }



/* visual */
.visual .textbox {width: 720px; height: 230px; background: rgba(0,0,0,0.6); 
    position: absolute; left: 50%; top: 50%; transform: translate(0,-20%); 
    animation: textbox 2s;}
 @keyframes textbox {
    0% {width: 0;}
    100%{width: 720px;}
 }    

.visual strong {width: 630px; height: 66px; top: 40px; left: 60px; position: absolute;
    font-family: 'Tenada'; font-size: 35px; line-height: 70px; 
    text-align: center; color: #FFF;  }


.visual .textbox .box {width: 700px; height: 90px; position: absolute;
    top: 110px; left: 60px;  font-family: 'Tenada' ; font-size:72px; color: #a32b2b
    ; animation: steak 2s; animation-delay: 2s forwards;}

@keyframes steak {
        0% {opacity: 0;}
        100%{opacity: 1;}
    }
    


/* section_box */
.section_box h2 {width: 800px; height: 91px; margin: 0 auto 37px auto; color: #fff;
        font-family: 'yg-jalnan'; font-size: 50px; text-align: center;}
    
.section_box h2 span {font-size: 70px; color:#e38217;}
.section_box .centerbox{padding-top: 90px; padding-bottom: 90px;}

    

.section1 ul {width: 504px; height: 41px; color: #fff;  
    font-family: 'yg-jalnan'; font-size: 25px; margin: 0 auto 37px auto;  }
.section1 .centerbox {border-radius: 200px; background: #220d0d; padding: 20px 0; position: absolute; left: 50%; transform: translate(-50%, -50%);}



.sec1 ul {width: 1200px; height: 240px; text-align: center; padding-top: 100px;display: flex; gap: 60px;}
.sec1 ul li {width: 270px; height:237px; border-radius: 20px; background: #ffffff; 
     overflow: hidden;  margin-top: 83px; flex-grow: 1;} 
.sec1 ul li:nth-child(3) {margin-right: 0;}


.sec1 ul li figure {width: 100%; height: 171px; background: #eee6db; text-align: center; margin: 0 auto;}
.sec1 ul li figure img {margin-top: 45px; margin-right: 10px; 
width: 90px; height: 90px;text-align: center;}
.sec1 ul li p {font-size: 30px; text-align: center; height: 66px; line-height: 66px; color: #fff; 
    background: orange;}    

.section2 {position: relative;}
.section2 h2 { margin-top: 90px ;margin-bottom: 90px;}
.section2 h2 strong {color: #000;}
.section2 h2 span {color: #e38217;}



.section2 .cont:after {content: ""; display: block; clear: both;}
.section2:before {content: ""; position: absolute; width: 200px; height: 283px;
    background: #5f2926; left: 0; top: 700px; }

.section2:after  {content: ""; position: absolute; width: 200px; height: 283px;
    background: #eee6db; right:0; top: 700px; }
    
.section2 .cont li {width: 358px; height: 260px;  float: left; margin-right: 42px; 
    margin-bottom: 156px; padding: 7px;}
.section2 .cont li:nth-child(3n) {margin-right: 0;}


.section2 .cont li figure {width: 100%; height: 100%; background: #e9ebea; border-radius: 30px;
    position: relative; overflow: hidden; }

.section2 .cont li figure img {position: absolute; left: 50%; top:50%; 
    transform:translate(-50%,-50%); }
.section2 .cont li p {width: 100%; height: 45px; margin-top: 10px;}

.section2 .cont li p em {color: #000; font-size: 20px; line-height: 20px; text-align: center;
    display: block; font-style: normal;}

.section2 .centerbox .eee {width: 35px; height: 35px;
    margin-left: 1190px; margin-bottom: 15px;}


.section3 .cont:after {content: ""; display: block; clear: both;}


.section3 h2 {margin-bottom: 125px;}
.section3 h2 strong {color: #fff;}
.section3 h2 span {color: #e38217;}

.section3 .cont li {width: 580px; height: 270px; background: #361715; border-radius: 20px;
    float: left; margin: 10px 40px 75px 0; position: relative; }

.section3 .cont li:nth-child(2n) {margin-right: 0;}


.section3 .cont li .num {position: absolute; font-size: 100px; color: #ff8600; 
    top: -60px; left: 15px;}
.section3 .cont li .text {width: 556px; height: 70px; margin: 122px auto 0 15px; 
    text-align: center;} 
.section3 .cont li .text h3 {font-size: 33px; color: #fff; height: 42px; }

.section3 .cont li:after {content:"" ; width: 350px; height: 10px; background: #8e2b2b;
    position: absolute; bottom: 0; left: 50%; transform: translate(-50%,0);}

/* footer */
footer {padding-top: 68px; box-sizing: border-box;}
footer h1 {width: 180px; height: 100px; margin: 0 auto 20px auto;} 
footer address {text-align: center ;font-style: normal; font-size: 18px; font-family: 'GmarketSansMedium'; }


















/* 서브페이지 */

.visual_sub {width: 100%; height: 576px; 
    background: url(../images/main1.jpg) center ; background-size: cover;
    position: relative; }

.visual_sub:before{content: ""; position: absolute; width: 100%; height: 100%; 
    background: rgba(0,0,0,0.2); left: 0; top: 0; }


.visual_sub .textbox {width: 600px; height: 206px; background: rgba(0,0,0,0.6); 
    position: absolute; left: 50%; transform: translate(150px,282px ); 
    animation: textbox 2s;}
 @keyframes textbox {
    0% {width: 0;}
    100%{width: 600px;}
 }    

.visual_sub strong {width: 630px; height: 66px; ; top: 40px; position: absolute;
    font-family: 'Tenada'; font-size: 30px; line-height: 66px; 
    text-align: center; color: #FFF;  }


.visual_sub .textbox .box {width: 700px; height: 90px; position: absolute;
    top: 110px; left: 60px;  font-family: 'Tenada' ; font-size:60px; color: #a32b2b
    ; animation: steak 2s; animation-delay: 2s forwards;}
@keyframes steak {
        0% {opacity: 0;}
        100%{opacity: 1;}
    }


/* section_sub */

.section_sub {width: 100%; height: 3068px; background: #fff; }


.section_sub .sec1 {width: 567px; height: 101px; margin: 0 auto; margin-top: 115px; 
    text-align: center;}

.section_sub .sec1 h3 {width: 100%; height: 50px; color: #000; font-weight:700 ;
    font-size: 40px; text-align: center; margin :0 auto; }
.section_sub .sec1 p {font-family: 'GmarketSansMedium'; color: #000; font-weight:500;
    font-size: 15px; text-align: center; margin :20px auto 0 auto;  }


.section_sub .sub_main {width: 1489px; height: 342px; margin-top: 86px;
    position: relative; left: 50%; transform:translate(-50%,0);}
.section_sub .sub_main img {width: 100%;}

.section_sub .centerbox {width: 1200px; height: 2500px; margin: 85px auto 0 auto;}
.section_sub .centerbox .sec2 h3 {color: #000; font-weight:700 ;
    font-size: 35px; width: 300px; height: 42px; margin-bottom: 23px;}
.section_sub .centerbox .sec2 p {font-family: 'GmarketSansMedium'; color: #000; 
    font-weight:500;font-size: 15px; margin-top: 5px; color: #555555; }

.section_sub .centerbox .sec3 {margin-top: 87px;}
.section_sub .centerbox .sec3 .sub1 {width: 397px; height: 308px; border-radius: 30px; 
    height: 100%;}



.section_sub .sec3 {width: 100%; height: 308px; margin-top: 20px;}
.section_sub .sec3 .sub1 {float: left;}
.section_sub .sec3 h4 { height: 77px; float: left; font-size: 30px;}
.section_sub .sec3 li {height: 54px; float: left;font-size: 15px; margin-top: 30px; 
    font-family: 'GmarketSansMedium'; color: #555555;}
.section_sub .sec3 .cont1 {width: 470px; height: 180px; float: right; 
     margin-right: 290px; margin-top: 90px;}




.section_sub .sec4 {width: 100%; height: 437px; margin-top: 30px;}
.section_sub .sec4 .cont2 {width: 380px; height: 200px; float: left;
    margin-left: 450px; margin-top: 170px;}
.section_sub .sec4 h4 { float: right; font-size: 30px; text-align: right; }
.section_sub .sec4 li {height: 54px; font-size: 15px; float:right;
    font-family: 'GmarketSansMedium'; color: #555555; text-align: right;}
.section_sub .sec4 .icon2 {width: 191px; height: 35px; 
     margin-top: 165px; margin-left: 190px;}
.section_sub .sec4 .sub2 {float: right; width: 318px; height: 361px; 
     border-radius: 30px; margin-top: 75px;} 
.section_sub .sec4 .sub2 img {width: 100%; height: 100%;}






.section_sub .sec5 {width: 100%; height: 480px; }
.section_sub .sec5 h4 { height: 77px; float: left; font-size: 30px;}
.section_sub .sec5 li {height: 54px; float: left;font-size: 15px; margin-top: 30px; 
    font-family: 'GmarketSansMedium'; color: #555555;}
.section_sub .sec5 .cont3 {width: 451px; height: 230px; float: right; 
     margin-right: 220px; margin-top: 155px;}
.section_sub .sec5 .cont3 .icon3 img {margin-top: 45px;}
.section_sub .sec5 .sub3 {float: left; width: 144px; height: 31px; margin-top: 140px;}



.section_sub .sec6 {width: 100%; height: 350px; margin-top: 40px; margin-top: 30px;}
.section_sub .sec6 .cont4 {width: 350px; height: 260px; float: left; margin-left: 355px;}
.section_sub .sec6 h4 {width: 350px; height: 80px; font-size: 30px;
    text-align: right; margin-top: 30px;}
.section_sub .sec6 li {font-size: 15px; font-family: 'GmarketSansMedium'; color: #555555; 
    text-align: right; margin-top: 30px;}
.section_sub .sec6 .icon4 {text-align: right; margin-top: 5px;}
.section_sub .sec6 .sub4 {float: right; width: 423px; height: 237px; 
     border-radius: 30px;} 
.section_sub .sec6 .sub4 img {width: 100%; height: 100%; }


.section_sub .sec7 {width: 100%; height: 533px;}
.section_sub .sec7 .sub5 {float: left; width: 330px; height: 337px; border-radius: 30px; 
    margin-top: 100px;}
.section_sub .sec7 .cont5 {width: 375px; height: 217px; float: right; 
    margin-right: 440px; margin-top: 155px;}

.section_sub .sec7 h4 { width: 400px; height: 76px; font-size: 30px;}
.section_sub .sec7 li {height: 54px; float: left; font-size: 15px; margin-top: 30px; 
    font-family: 'GmarketSansMedium'; color: #555555; }

.section_sub .sec7 .cont5 .icon5 {margin-top: 105px;}

.section_sub .centerbox .home {width: 87px; height: 37px; margin-top: 35px;}   